<table>
  <thead>
      <th>Data</th>
      <th>Valor</th>
      <th>Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr *ngFor="let transferencia of transferencias">
      <td>{{transferencia.data | date: "short"}}</td>
      <td>{{transferencia.valor | currency}}</td>
      <td>{{transferencia.destino}}</td>
  </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma operação realizada</p>
</ng-template>
<!--
<div *ngFor="let transferencia of transferencias">
  <p>Data: {{ transferencia?.data }}</p>
  <p>Valor: {{ transferencia?.valor }}</p>
  <p>Destino: {{ transferencia?.destino }}</p>
</div> -->

